$poiret: 'Poiret One', cursive;
$bgColor: #29293d;
$defaultColor: #f7f7f9;
$logoFont: 'Parisienne', cursive;
$transitionDefault: all 0.5s ease-in;
//#636383


body {
    
    
    .pageContent {
        padding: 0px;
        min-height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    
        .navbar {
            padding-right: 5%;
            background-color: darken($defaultColor, 5%);
            @media (min-width: 767px) {
                padding-right: 20%;
            }

            .navbar-brand {
                font-family: $logoFont;
                padding-left: 5%;

                @media (max-width: 590px) {
                    padding-left: 2%;
                }

                h2 {
                    @media (max-width: 600px) and (min-width: 345px) {
                        padding-top: 3px;
                        font-size: 1.7rem;
                    }
                    @media (max-width: 344px) {
                        padding-top: 6px;
                        font-size: 1.2rem;
                    }
                }
            }

            .navbar-toggler {

                .nav-icon {
                    height: 20px;
                }
            }

            .navbar-nav {
                padding-top: 3px;
            }
        }
        
        .pageCenter {
            width: 100%;
            @media (min-width: 768px) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-flex: 1; 
                -ms-flex: 1; 
                flex: 1;
            }
            

            .row.match-my-cols {
                overflow: hidden; 
                width: 100%;
                padding:0;
                margin:0;
                


                .content {

                    background-color: white;
                    padding: 15px;
                    text-align: justify;

                    
                }

                .findMe {
                    padding: 2%;  
                    background: $defaultColor;
                    margin-bottom: -99999px;
                    padding-bottom: 99999px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: start;
                        -ms-flex-pack: start;
                            justify-content: flex-start;
                    

                    .icons {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;


                        @media (max-width: 767px) {
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                                -ms-flex-direction: row;
                                    flex-direction: row;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                        -ms-grid-row-align: center;
                                    align-items: center;
                            -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                    justify-content: center;

                        }

                        .icon {
                            margin: 3%;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-line-pack: center;
                                align-content: center;
                            -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                            padding: 3%;

                            .icon-bitbucket-squared:before {
                                @media (max-width: 340px) {
                                    font-size: 40px;
                                }
                            }

                            .icon-facebook-squared:before {
                                @media (max-width: 340px) {
                                    font-size: 40px;
                                }
                            }

                            .icon-linkedin-squared:before {
                                @media (max-width: 340px) {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: darken($defaultColor, 20%);

        }
    }    
}

a {
    text-decoration: none;
    color: inherit;
    
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
.container-fluid {
    padding: 0;
    margin: 0;
}

.carousel-inner {
    .carousel-item {
        img {
            margin: 0 auto;
        }
    } 
} 