.projectTile {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .projectTile a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .projectTile a .card {
      width: 60%;
      margin-bottom: 20px;
      margin-top: 20px; }
      @media (min-width: 544px) {
        .projectTile a .card {
          width: 90%; } }
      .projectTile a .card .card-img-top {
        width: 100%; }

.btn {
  min-width: 165px; }

img {
  width: 160px; }

/*# sourceMappingURL=projects.css.map */
